.col-centered{  
  float: none;
  margin: 0 auto;
}

.row{

  border-width: 1px;
  border-color: #CCC;
  padding: 2px;
  text-align: center;
  width: 100%;
  margin-bottom:;

}

.story { 
	
  height: 320px; 
  width: 200px; 
  overflow: hidden; 
  margin : 5px;
  padding: 0px;
}
.storyImage { 
	
  height: 200px; 
  width: 200px; 
  overflow: hidden; 
  
}
.storyText { 
	
  height: 100px; 
  width: 200px; 
  overflow: hidden; 
  padding: 3px;
}
